{% extends "layout.jinja2" %}

{% block body %}
    <form method="POST">
        <label for="title">Title</label><br/>
        <input type="text" name="title"/><br/>
        <label for="body">Body</label><br/>
        <input type="text" name="body"/><br/>
        <label for="creation_date"Creation_date</label><br/>
        <input type="text" name="creation_date"/><br/>
        <input type="submit" value="Submit"/>
    </form>
</div>
{% endblock body %}
